.container{
    width: 100%;
    height: 500px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure h1{
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    text-align: center;
    padding: 0 25px;
}

/* @media(min-width: 650px) */

@media (min-width: 650px) {
    .container{
        height: 70vh;
        justify-content: left;
        align-items: center;
    }

    .figure h1{
        font-size: 3em;
        padding-left: 20px;
        margin: 2em 0 0 1em;
    }
}

/* @media(min-width: 1000px) */

@media(min-width: 1000px){

    .container{
        width: 100%;
        height: 650px;
        padding-top: 100px;
        justify-content: left;
        align-items: flex-start;
    }

    .figure h1{
        width: 60%;
        font-size: 2em;
        padding-left: 20px;
        text-align: left;
    }
}

/* @media(min-width: 1400px) */

@media(min-width: 1400px){

    .container{
        width: 100%;
        height: 850px;
        padding-top: 100px;
    }

    .figure h1{
        font-size: 3em;
    }

}