.article{
    display: grid;
    grid-template-areas: 
    'imagem'
    'texto';
    justify-content: center;
    align-items: center;
}

.article div{
    grid-area: texto;
}

.article img{
    grid-area: imagem;
    width: 40%;
    border-radius: 180px;
}