.menu{
    background-color: var(--cor-principal);
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 30px 0;
}

@media(min-width: 1200px){
    .menu{
        padding: 40px 0;
    }
}

