*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo: #000000;
    --cor-principal : #172026;
    --cor-destaque: #5FCDD9;
    --cor-bordas: #027373;
    --cor-texto: #ffffff;

    --fonte-principal: "Montserrat", sans-serif;
    --fonte-titulo: "Bellefair", sans-serif;
}

.home{
    background-image: url('/src/assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}

.home::-webkit-scrollbar{
    display: none;
}